body, html {
    user-select: none;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; /* 防止内容水平滚动 */
}
a {
    text-decoration: none;
}
.fab.fa-github {
    font-size: 24px; /* 调整图标大小 */
    color: #333; /* 调整图标颜色 */
}
.bg {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -10;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.glass {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255. 0);
    backdrop-filter: blur(25px);
}
.left {
    z-index: 5;
    margin-left: 10%;
    position: absolute;
    width: 25%;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.left img {
    margin-top: 60px;
}
.right {
    z-index: 5;
    position: absolute;
    margin-left: 35%;
    width: 65%;
    height: 100%;
}
.right p {
    color: rgb(184, 184, 184);
    font-size: 1.4em;
    margin-top: 20px;
    margin-left: 30px;
}
.tag-container {
    margin-top: 40px;
    margin-bottom: -20px;
}
.tag-container span {
    font-size: 1.1em;
    color: rgb(214, 214, 214);
    padding: 5px 10px;
    margin-right: 5px;
    margin-left: 5px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    transition: 0.5s ease;
}
.tag-container span:hover {
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.friends {
    text-align: center;
    color: rgb(214, 214, 214);
    margin-top: 10px;
}
.friends a {
    box-sizing: border-box;
    outline: 0;
    color: rgb(214, 214, 214);
    font-size: 1em;
    transition: 0.25s ease;
    border-bottom: 1px solid transparent;
}
.friends a:hover {
    border-bottom: 1px solid #d9aaff;
}
.left p {
    color: rgb(214, 214, 214);
    margin-top: 70px;
}
.contact {
    margin-left: 30px;
    display: flex;
    margin-top: 40px;
}
.icon {
    margin-right: 20px;
}
.icon a{
    font-size: 1.2em;
    padding: 5px 10px;
    color: rgb(214, 214, 214);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    transition: 0.5s ease;
    text-align: center;
}
.icon a:hover{
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.project {
    margin-top: 60px;
    margin-left: 30px;
}
.project h2 {
    color: rgb(214, 214, 214);
}
.about {
    margin-top: 60px;
    margin-left: 30px;
}
.about h2 {
    color: rgb(214, 214, 214);
}


/* 标题动效 */
.wrapper{
    margin-top: 60px;
    margin-left: 30px;
}
.wrapper span{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    animation: lighting 1000ms alternate infinite ease;
}
@keyframes lighting{
    0%,85%{
        color: #ffffff;
        text-shadow: none;
    }
    100%{
        color:#d9aaff;
        text-shadow: 0 0 10px #8c00ff, 0 0 3px #441aff;
    }
}
.wrapper span:nth-child(1){
    animation-delay: 150ms;
}
.wrapper span:nth-child(2){
    animation-delay: 300ms;
}
.wrapper span:nth-child(3){
    animation-delay: 450ms;
}
.wrapper span:nth-child(4){
    animation-delay: 600ms;
    margin-left: 10px;
}
.wrapper span:nth-child(5){
    animation-delay: 750ms;
}
.wrapper span:nth-child(6){
    animation-delay: 900ms;
}
.wrapper span:nth-child(7){
    animation-delay: 1050ms;
    margin-left: 10px;
}
.wrapper span:nth-child(8){
    animation-delay: 1200ms;
}
.wrapper span:nth-child(9){
    animation-delay: 1350ms;
}
.wrapper span:nth-child(10){
    animation-delay: 1500ms;
}
.wrapper span:nth-child(11){
    animation-delay: 1650ms;
}
